# Imports

In [336]:
import pandas as pd

import re

from time import sleep

from geopy.geocoders import GoogleV3

# Data

In [337]:
stores = pd.read_csv('../data/store_list_v2_clean.csv')
products = pd.read_csv('../data/products_tableau.csv')
profits = pd.read_csv('../data/profits_tableau.csv')

# Cleaning Store Data

## Stores

In [338]:
stores.drop(columns=['ID'], inplace=True)
stores.head()

,Store,Address,City,State
0,Berkeley Bowl,2020 Oregon St,Berkeley,California
1,Berkeley Bowl West,920 Heinz Avenue,Berkeley,California
2,Diablo Foods-Lafeyette,3615 Mt Diablo Blvd,Lafayette,California
3,Draeger's-Danville,291 Utah Ave.,South San Francisco,California
4,Encinal Market,3211 Encinal Ave.,Alameda,California

Check for missing values

In [339]:
stores.isna().sum()

Store      0
Address    1
City       0
State      0
dtype: int64

In [341]:
stores[stores['Address'].isna()]

                    Store Address        City       State
291  Club Costa Vida/WFSH     NaN  Santa Rosa  California

Dropping this store because there is no address data that could be fine. Only one order in profits data

In [342]:
stores = stores[stores['Address'] != 'Club Costa Vida/WFSH']

Check for stores that have a P.O. box as the address. These will be fixed manually.

In [343]:
stores[stores['Address'].str.contains('P.O.', na=False)]

                      Store       Address        City       State
30  The Tides Bait & Tackle  P.O. Box 518  Bodega Bay  California
31         The Tides Unocal  P.O. Box 518  Bodega Bay  California

Combine street address, city, and state to a full address.

In [344]:
stores['Full Address'] = stores['Address'] + ', ' + stores['City'] + ', ' + stores['State']

In [345]:
stores.head()

,Store,Address,City,State,Full Address
0,Berkeley Bowl,2020 Oregon St,Berkeley,California,"2020 Oregon St, Berkeley, California"
1,Berkeley Bowl West,920 Heinz Avenue,Berkeley,California,"920 Heinz Avenue, Berkeley, California"
2,Diablo Foods-Lafeyette,3615 Mt Diablo Blvd,Lafayette,California,"3615 Mt Diablo Blvd, Lafayette, California"
3,Draeger's-Danville,291 Utah Ave.,South San Francisco,California,"291 Utah Ave., South San Francisco, California"
4,Encinal Market,3211 Encinal Ave.,Alameda,California,"3211 Encinal Ave., Alameda, California"

Convert to a list on dictionaries to iterate over.

In [346]:
stores_list = stores.to_dict(orient='records')
stores_list[:2]

[{'Store': 'Berkeley Bowl',
  'Address': '2020 Oregon St',
  'City': 'Berkeley',
  'State': 'California',
  'Full Address': '2020 Oregon St, Berkeley, California'},
 {'Store': 'Berkeley Bowl West',
  'Address': '920 Heinz Avenue',
  'City': 'Berkeley',
  'State': 'California',
  'Full Address': '920 Heinz Avenue, Berkeley, California'}]

In [347]:
stores_list[0]['Full Address']

'2020 Oregon St, Berkeley, California'

In [16]:
geolocator = GoogleV3(api_key='')
location = geolocator.geocode('12830 Valley Ford Rd., Petaluma, California')
print((location.latitude, location.longitude))

(38.3135992, -122.8759106)

Instantiate an empty list. Failed queries will be added to it to examine and fix manually.

In [18]:
failed_lst = []

Iterates over all the stores in the list. Uses geopy, GoogleV3 and the full address to find the latitude and longitude. These coordinates will be needed for the Tableau dashboard.

In [19]:
# for store in stores_list:
    
#     try:
#         location = geolocator.geocode(store['Full Address'])

#         store['lat'] = location.latitude
#         store['lon'] = location.longitude
#         print(f"ADDED: {store['Full Address']}") 
    
#     except:
#         failed_lst.append(store['Full Address'])
#         print(f"FAILED: {store['Full Address']}")

#     sleep(1)

ADDED: 2020 Oregon St, Berkeley, California
ADDED: 920 Heinz Avenue, Berkeley, California
ADDED: 3615 Mt Diablo Blvd, Lafayette, California
ADDED: 291 Utah Ave., South San Francisco, California
ADDED: 3211 Encinal Ave., Alameda, California
ADDED: 3420 Fruitvale Ave., Oakland, California
ADDED: 3501 MacArthur Blvd, Oakland, California
ADDED: 7000 Bancroft Avenue, Oakland, California
ADDED: 820 Sycamore Valley Rd., Danville, California
ADDED: 5804 College Ave., Oakland, California
ADDED: 3121 Castro Valley Blvd., Castro Valley, California
ADDED: 2082 San Pablo Ave., Berkeley, California
ADDED: 1582 Hopkins St., Berkeley, California
ADDED: 1550 Hopkins Street, Berkeley, California
ADDED: 160 Washington Ave., Richmond, California
ADDED: 6310 College Avenue, Oakland, California
ADDED: 155 W. Richmond Ave., Richmond, California
ADDED: 5885 Broadway Terrace, Oakland, California
ADDED: 2390 Powell St., Emeryville, California
ADDED: 12830 Valley Ford Rd., Petaluma, California
ADDED: 1275 Hwy. 1, Bodega Bay, California
ADDED: 1850 Bay Flat Rd., Bodega Bay, California
ADDED: 599 CA-1, Bodega Bay, California
ADDED: 20705 Coast Hwy. #1, Jenner, California
ADDED: 39225 CA-1, Gualala, California
ADDED: 10444 Hwy 1, Jenner, California
ADDED: 23125 Hwy. 1, Jenner, California
ADDED: 1400 Hwy. 1, Bodega Bay, California
ADDED: 1400 Hwy. 1, Bodega Bay, California
ADDED: 39250 CA-1, Gualala, California
ADDED: P.O. Box 518, Bodega Bay, California
ADDED: P.O. Box 518, Bodega Bay, California
ADDED: 14400 Hwy 1, Valley Ford, California
ADDED: 250 Tiburon Blvd., Belvedere Tiburon, California
ADDED: 212 Tamalpais Dr., Corte Madera, California
ADDED: 212 Tamalpais Dr., Corte Madera, California
ADDED: 100 Center Blvd., San Anselmo, California
ADDED: 195 Tamal Vista Blvd, Corte Madera, California
FAILED: 75 Loch Lomond Drive, San Rafael, California
ADDED: 2202 Fifth Ave, San Rafael, California
ADDED: 3060 Kerner Blvd., San Rafael, California
ADDED: 4 Bolinas Ave, San Anselmo, California
ADDED: 40 Wharf Road, Bolinas, California
ADDED: 330 Bellam Blvd., San Rafael, California
ADDED: 640 Fourth Street, San Rafael, California
ADDED: 580 Redwood Hwy, Strawberry, California
ADDED: 841 College Ave., Kentfield, California
ADDED: 2080 Lakeville Highway, Petaluma, California
ADDED: 330 Bon Air Shopping Center, Greenbrae, California
ADDED: 1707 Grant Ave., Novato, California
ADDED: 880 Sir Francis Drake Blvd., San Anselmo, California
ADDED: 442 Las Gallinas Ave., San Rafael, California
ADDED: 759 E. Blithedale, Mill Valley, California
ADDED: 2035 Novato Blvd., Novato, California
ADDED: 150 Donahue Street, Marin City, California
ADDED: 242 Shoreline Hwy, Mill Valley, California
ADDED: 200 Caledonia St., Sausalito, California
ADDED: 101 Parkshore Dr, Ste 100, Folsom, California
ADDED: 1492 Lincoln Ave, San Rafael, California
ADDED: 1500 E 5th St, Benicia, California
ADDED: 1910 Sir Francis Drake Blvd, Fairfax, California
ADDED: 221 Second St, Sausalito, California
ADDED: 720 Center Blvd., Fairfax, California
ADDED: 201 Flamingo Road, Mill Valley, California
ADDED: 300 West 15th St, Vancouver, California
ADDED: 375 Ignacio Blvd., Novato, California
ADDED: 12301 Sir Francis Drake Blvd, Inverness, California
ADDED: 12784 Sir Francis Drake Blvd, Inverness, California
ADDED: 971 Front Street, Novato, California
ADDED: 1945 Francisco Blvd., San Rafael, California
ADDED: 393 Miller Ave, Mill Valley, California
ADDED: 534 Clarence Street, Point Richmond, California
ADDED: 2656 Bridgeway, Sausalito, California
ADDED: 1761 Grant Ave., Novato, California
ADDED: 570 Magnolia Ave, Larkspur, California
ADDED: 855 Third St., San Rafael, California
ADDED: 7500 Red Hill Rd, Petaluma, California
ADDED: 155 Marinwood Ave., San Rafael, California
ADDED: 125 Vintage Way, Novato, California
ADDED: 330 Bellam Blvd., San Rafael, California
ADDED: 1102 Grant Avenue, Novato, California
ADDED: 12 Corte Madera Ave., Mill Valley, California
ADDED: 100 Harbor Dr., Sausalito, California
ADDED: 270 Bon Air Shopping Center, Greenbrae, California
ADDED: 1 Blackfield Drive, Belvedere Tiburon, California
ADDED: 5627 Paradise  Drive, Corte Madera, California
ADDED: 470 Ignacio Blvd., Novato, California
ADDED: 11300 CA-1, Point Reyes Station, California
ADDED: 1916 Sir Francis Drake Blvd, Fairfax, California
ADDED: 7380 Redwood Blvd, Novato, California
ADDED: 909 Lincoln Ave, San Rafael, California
ADDED: 71 San Pablo Ave, San Rafael, California
ADDED: 6 Hamilton Landing, Suite 100, Novato, California
ADDED: 838 Sir Francis Drake Blvd., San Anselmo, California
ADDED: 137 Corte Madera Town Center, Corte Madera, California
ADDED: 100 Center Blvd., San Anselmo, California
ADDED: 110 Strawberry Village, Mill Valley, California
ADDED: 110 Strawberry Village, Mill Valley, California
ADDED: 5720 Nave Dr., Novato, California
ADDED: 700 B St., San Rafael, California
ADDED: 1 Camino Alto, Mill Valley, California
ADDED: 950 Las Gallinas, San Rafael, California
ADDED: 900 Diablo Ave., Novato, California
ADDED: 900 Diablo Ave., Novato, California
ADDED: 71 San Pablo Ave, San Rafael, California
ADDED: 46 Caledonia, Sausalito, California
ADDED: 620 Freitas Parkway, San Rafael, California
ADDED: 371 Shoreline Hwy., Mill Valley, California
ADDED: 349 Miller Ave., Mill Valley, California
ADDED: 650 Redwood Hwy., Mill Valley, California
ADDED: 1901 Bridgeway Blvd., Sausalito, California
ADDED: 925 Anderson Drive, San Rafael, California
ADDED: 101 Smith Ranch Rd., San Rafael, California
ADDED: Hwy. 1, Calle Del Mar, Stinson Beach, California
ADDED: 180 Donahue St., Sausalito, California
ADDED: 200 Vintage Way, Novato, California
ADDED: 125 Shoreline Pkwy, San Rafael, California
ADDED: #1 Gate 6 Rd, Sausalito, California
ADDED: 80 4th Street, Point Reyes Station, California
ADDED: 821 B Street, San Rafael, California
ADDED: 1110 Magnolia Ave., Larkspur, California
ADDED: 1556-4th St., San Rafael, California
ADDED: 100 Red Hill Ave, San Anselmo, California
ADDED: 515 3rd St., San Rafael, California
FAILED: 100 Red Hill Ave, San Anselmo, California
ADDED: 515 3rd St., San Rafael, California
ADDED: 997 Mesa Road, Point Reyes Station, California
ADDED: 175 San Geronimo Valley Dr, Woodacre, California
ADDED: 1 Kent Avenue, Kentfield, California
ADDED: 735 College Ave, Kentfield, California
ADDED: 1550 Tiburon Blvd, Tiburon, California
ADDED: 1551 Tiburon Blvd, Tiburon, California
ADDED: 735 College Ave, Kentfield, California
ADDED: 1550 Tiburon Blvd, Belvedere Tiburon, California
ADDED: 735 College Ave., Greenbrae, California
ADDED: 913 Sir Francis Drake Blvd., Kentfield, California
ADDED: 1901 Bridgeway Blvd., Sausalito, California
ADDED: 2000 Main St, St. Helena, California
ADDED: 3263 Brown's Valley Rd., Napa, California
ADDED: 3263 Brown's Valley Rd., Napa, California
ADDED: 1491 Lincoln Ave., Calistoga, California
ADDED: 1102 Tubbs Lane, Calistoga, California
ADDED: One Angwin Ave., Angwin, California
ADDED: 2510 State Hwy 12, Isleton, California
ADDED: 607 St. Helena Hwy, Saint Helena, California
ADDED: 1227 Main St., Saint Helena, California
ADDED: 609 Hwy 12, Rio Vista, California
ADDED: 3333 Cuttings Wharf Rd., Napa, California
ADDED: 1200 Milton Rd., Napa, California
ADDED: 7856 St Helena Hwy, Oakville, California
ADDED: 1009 Foothill Blvd., Calistoga, California
ADDED: 217 Soscol Ave., Napa, California
ADDED: 4215 Solano, Napa, California
ADDED: 6498 Washington St., Yountville, California
ADDED: 3375 Jefferson Square, Napa, California
ADDED: 1026 Hunt Ave., Saint Helena, California
ADDED: 3375 Jefferson Square, Napa, California
ADDED: 10 Woodland Rd., Saint Helena, California
ADDED: 1153 Main St., Saint Helena, California
ADDED: 1115 Main St., Saint Helena, California
ADDED: 1111 White Lane, St. Helena, California
ADDED: 45 Lynn Drive, Napa, California
ADDED: 690 Los Altos Rancho, Los Altos, California
ADDED: 3130 Alpine Rd, Portola Valley, California
ADDED: 810 Laurel St., San Carlos, California
ADDED: 501 Virginia Ave, Moss Beach, California
ADDED: 3640 Florence St., Redwood City, California
FAILED: 342 1st St, Los Altos, California
ADDED: 1010 University Dr, Menlo Park, California
ADDED: 222 E 4th Ave, San Mateo, California
ADDED: 8445 Cabrillo Hwy, Montara, California
ADDED: Key Market Admin Office, San Carlos, California
ADDED: 3445 Alma St. #A, Palo Alto, California
ADDED: 164 S. California, Palo Alto, California
ADDED: 22 Bayhill Shopping Center, San Bruno, California
ADDED: 1477 Chapman Ave., Burlingame, California
ADDED: 49 West 42nd Avenue, San Mateo, California
ADDED: 200 Eureka Square, Pacifica, California
ADDED: 3922 Middlefield Rd, Palo Alto, California
ADDED: 1218 W Hillsdale Blvd, San Mateo, California
ADDED: 3015 Woodside Road, Woodside, California
ADDED: 4420 Alpine Rd, Portola Valley, California
ADDED: 101 Main Street, Half Moon Bay, California
ADDED: 401 Ave Alhambra, Half Moon Bay, California
ADDED: 230 Reina Del Mar Ave, Pacifica, California
ADDED: 1015 Terra Nova Blvd, Pacifica, California
ADDED: 1970 Naglee Ave., San Jose, California
ADDED: 1356 Mary Avenue, Sunnyvale, California
ADDED: 1520 Southwest Expy, San Jose, California
ADDED: 1421 Foxworthy Ave., San Jose, California
ADDED: 2170 Hanson Way, Woodland, California
ADDED: 1601 Balboa St, San Francisco, California
ADDED: 1400 Cole St, San Francisco, California
ADDED: 2354 Clement St, San Francisco, California
ADDED: 300 Church St., San Francisco, California
ADDED: 4101 California St, San Francisco, California
ADDED: 6001 California St, San Francisco, California
ADDED: Irving & 10th, San Francisco, California
ADDED: 1416 Haight St, San Francisco, California
ADDED: 1200 Irving St., San Francisco, California
ADDED: 3585 California St., San Francisco, California
ADDED: 205 Fredrick St, San Francisco, California
ADDED: 2449 Balboa Street, San Francisco, California
ADDED: 3524 Balboa St., San Francisco, California
ADDED: 3149 Balboa Street, San Francisco, California
ADDED: 3445 California St., San Francisco, California
ADDED: 3585 California St., San Francisco, California
ADDED: 2815 Diamond Street, San Francisco, California
ADDED: 1399 Church St., San Francisco, California
ADDED: 2084 Hayes St, San Francisco, California
ADDED: 499 Haight St, San Francisco, California
ADDED: 377 32nd Ave., San Francisco, California
ADDED: 701 10th Ave., San Fransisco, California
ADDED: 601 - 2nd Ave, San Francisco, California
ADDED: 4151 - 17th Street, San Francisco, California
ADDED: 308 Broderick Street, San Francisco, California
ADDED: 793 Divisadero, San Francisco, California
ADDED: 667 Broderick St., San Francisco, California
ADDED: 1801 Fulton St., San Francisco, California
ADDED: 702 14th St, San Francisco, California
ADDED: 1401 6th Ave, San Francisco, California
FAILED: 500 Grove Street, San Francisco, California
ADDED: 1301 Haight St., San Francisco, California
ADDED: 501 Haight St., San Francisco, California
ADDED: 1530  Haight Street, San Francisco, California
ADDED: 3216 Folsom St., San Francisco, California
ADDED: 2285 Market St., San Francisco, California
ADDED: 191 - 8th St., San Francisco, California
ADDED: 698 Hayes Street, San Francisco, California
ADDED: 1192 Guerrero Street, San Francisco, California
ADDED: 2416 Market Street, San Francisco, California
ADDED: 501 Filmore St., San Francisco, California
ADDED: 1900 Hayes St., San Francisco, California
ADDED: 1589 Haight St., San Francisco, California
ADDED: 1701 Anza St, San Francisco, California
ADDED: 4401 Geary Blvd., San Francisco, California
ADDED: 2395 Chestnut St., San Francisco, California
ADDED: 2323 Chestnut St., San Francisco, California
ADDED: 5615 Geary Blvd., San Francisco, California
ADDED: 4201 - 18th Street, San Francisco, California
ADDED: 635 Portola St., San Francisco, California
ADDED: 2435 California St, San Francisco, California
ADDED: 5701 California St, San Francisco, California
ADDED: 4499 17th St, San Francisco, California
ADDED: 144 Page Street, San Francisco, California
ADDED: 1400 9th Ave, San Francisco, California
ADDED: 200 Noe Street, San Francisco, California
ADDED: 1601 Fulton St., San Francisco, California
ADDED: 999 Oak Street, San Francisco, California
ADDED: 7501 Geary Blvd, San Francisco, California
ADDED: 588 Haight Street, San Francisco, California
ADDED: 273 E. Harris Ave., South San Francisco, California
ADDED: 4400 California St, San Francisco, California
ADDED: 501 Frederick St, San Francisco, California
ADDED: 1745 Folsom St., San Francisco, California
ADDED: 41st & Balboa, San Francisco, California
ADDED: 276 Noe Street, San Francisco, California
ADDED: 500 Kirkham Street, San Francisco, California
ADDED: 98-1/2 Sanchez St., San Francisco, California
ADDED: 2020 Market St., San Francisco, California
ADDED: 1200 Irving St., San Francisco, California
ADDED: 850 La Playa, San Francisco, California
ADDED: 735 - 7th Ave., San Francisco, California
ADDED: 74 W. Manor Drive, Pacifica, California
ADDED: 5100 Geary Blvd., San Francisco, California
ADDED: Seventh & Clement, San Francisco, California
ADDED: 1400 8th St, San Francisco, California
ADDED: 501 Divisadero Street, San Francisco, California
FAILED: 4751 Geary Blvd., San Francisco, California
ADDED: 2801 Vicente Street, San Francisco, California
ADDED: 1754 Haight St., San Francisco, California
ADDED: 901 Haight St, San Francisco, California
ADDED: 2400 Clement St, San Francisco, California
ADDED: 667 Fillmore St., San Francisco, California
ADDED: 4140 Clement, San Francisco, California
ADDED: 201 Gough Street, San Francisco, California
ADDED: 300 Gough Street, San Francisco, California
ADDED: 719 Clement Street, San Francisco, California
ADDED: 5280 Geary Blvd, San Francisco, California
ADDED: 25 Point Lobo Ave., San Francisco, California
ADDED: 6335 Commerce Blvd, Rohnert Park, California
ADDED: 1691 Gravenstein Hwy., Sebastopol, California
ADDED: 2329 Circadian Way, Santa Rosa, California
ADDED: 9890 Main St., Monte Rio, California
ADDED: 5290 Aero Dr., Santa Rosa, California
ADDED: 1345 Healdsburg Ave., Healdsburg, California
ADDED: 10315 Bodega Hwy, Sebastopol, California
ADDED: 1105 Bodega Ave., Petaluma, California
ADDED: 17190 Bodega Hwy, Bodega, California
ADDED: 624 Taylor St., San Francisco, California
ADDED: 20511 Broadway, Sonoma, California
ADDED: 201 W Napa St Ste 35, Sonoma, California
ADDED: 291 North McDowell Blvd., Petaluma, California
ADDED: 365 East Washington St., Petaluma, California
ADDED: 2771 - 4th Street, Santa Rosa, California
ADDED: 788 Gravenstein Hwy., Sebastopol, California
ADDED: 6378 Commerce Blvd., Rohnert Park, California
ADDED: 463 Stony Point Rd., Santa Rosa, California
ADDED: 2700 Yulupa Ave., Santa Rosa, California
ADDED: 320 W. 3rd St., Santa Rosa, California
ADDED: 5100 Lakeville Hwy., Petaluma, California
ADDED: 6484 Mirabel Rd., Forestville, California
ADDED: 998 Gravenstein Hwy. South, Sebastopol, California
ADDED: 605 Rohnert Park Expressway, Rohnert Park, California
ADDED: 2055 Sebastopol Rd, Santa Rosa, California
ADDED: 24101 Arnold Dr., Sonoma, California
ADDED: 13751 Arnold Dr., Glen Ellen, California
ADDED: 13751 Arnold Dr, Glen Ellen, California
ADDED: 13751 Arnold Dr., Glen Ellen, California
ADDED: 3707 Occidental Rd., Occidental, California
ADDED: 7450 Highway 128, Philo, California
ADDED: 365 East Washington St., Petaluma, California
ADDED: 301 S. McDowell Blvd., Petaluma, California
ADDED: 776 Gravenstein Hwy No., Sebastopol, California
ADDED: 939 Lakeville Hwy., Petaluma, California
ADDED: 915 Montgomery Village Ct., Santa Rosa, California
ADDED: 1000 Petaluma Blvd No., Petaluma, California
ADDED: 19181 Sonoma Hwy., Sonoma, California
ADDED: 522 Larkfield Center, Santa Rosa, California
ADDED: 1035 2nd Street, Santa Rosa, California
ADDED: 6550 Oakmont Dr., Santa Rosa, California
ADDED: 124 Matheson St, Healdsburg, California
ADDED: 546 East Cotati Ave., Cotati, California
ADDED: 560 Montecito Blvd., Santa Rosa, California
FAILED: 546 E Cotati Ave, Cotati, California
ADDED: 560 Montecito Center, Santa Rosa, California
ADDED: 9230 Old Redwood Hwy, Windsor, California
ADDED: 1721 Ditty Ave., Santa Rosa, California
ADDED: 461 Stony Point Rd., Santa Rosa, California
ADDED: 1721 Ditty Ave., Santa Rosa, California
ADDED: 9230 Old Redwood Hwy, Windsor, California
ADDED: 550 Gravenstein Hwy N., Sebastopol, California
ADDED: 1465 Town & Country Dr., Santa Rosa, California
ADDED: 210 Western Ave., Petaluma, California
ADDED: 438 - 1st Street, Santa Rosa, California
ADDED: 157 N. McDowell Blvd., Petaluma, California
ADDED: 100 Raley's Town Center, Rohnert Park, California
ADDED: 1407 Fulton Rd., Santa Rosa, California
ADDED: 8852 Lakewood Dr., Windsor, California
ADDED: 201 W. Napa St, Sonoma, California
ADDED: 21015 Geyserville Ave, Geyserville, California
ADDED: 1201 Piner Rd., Santa Rosa, California
ADDED: 640 Sebastopol Rd., Santa Rosa, California
ADDED: 10070 San Pablo Ave, El Cerrito, California
ADDED: 6868 McKinley St, Sebastopol, California
ADDED: 2785 Yulupa Ave., Santa Rosa, California
ADDED: 2751 Fourth Street, Santa Rosa, California
ADDED: 16405 River Road, Guerneville, California
ADDED: 701 Sonoma Mountain Pkwy, Petaluma, California
ADDED: 1211 W. College Ave., Santa Rosa, California
ADDED: 100 Calistoga Rd., Santa Rosa, California
ADDED: 1799 Marlow Road, Santa Rosa, California
ADDED: 477 W. Napa St., Sonoma, California
ADDED: 6340 Commerce Blvd., Rohnert Park, California
ADDED: 406 N Main St., Sebastopol, California
ADDED: 389 So. McDowell Blvd., Petaluma, California
ADDED: 1382 Gravenstein Hwy. South, Sebastopol, California
ADDED: 860 Perry Lane, Petaluma, California
ADDED: 428 Center Street, Healdsburg, California
ADDED: 429 N. McDowell Blvd., Petaluma, California
ADDED: 2805 Santa Rosa Avenue, Santa Rosa, California
ADDED: 2 Spain St., Sonoma, California
ADDED: 500 W Napa St, Sonoma, California
ADDED: 501 W Napa St, Sonoma, California
ADDED: 1190 East Napa Street, Sonoma, California
ADDED: 301 Mountain View Ave, Petaluma, California
ADDED: 7891 Mirabel Road, Forestville, California
ADDED: 220 Elliott Ave., Santa Rosa, California
ADDED: Petaluma Campus, Petaluma, California
ADDED: 900 Coddingtown Center, Santa Rosa, California
ADDED: 401 Kenilworth Dr., Petaluma, California
ADDED: 475 Rohnert Pk Express Way, Rohnert Park, California
ADDED: 1980 Santa Rosa Ave., Santa Rosa, California
ADDED: 15025 River Road, Guerneville, California
ADDED: 910 Baywood, Petaluma, California
ADDED: 901 Golf Course Dr, Rohnert Park, California
ADDED: 4625 Redwood Dr, Rohnert Park, California
ADDED: 455 Center St, Healdsburg, California
ADDED: 2075 Mendocino Ave., Santa Rosa, California
ADDED: 9030 Brooks Rd. S, Windsor, California
ADDED: 455 Center St, Healdsburg, California
ADDED: 150 Bicentennial, Santa Rosa, California
ADDED: 150 Bicentennial, Santa Rosa, California
ADDED: 8852 Lakewood Dr., Windsor, California
ADDED: 9080 Brooks Rd., Windsor, California
ADDED: 2300 Mendocino Ave., Santa Rosa, California
ADDED: 1115 Vine St., Healdsburg, California
ADDED: 6650 Hembree Ln, Windsor, California

In [348]:
len(failed_lst)

6

Coordinates will be retrieved for these addresses manually.

In [349]:
failed_lst

['75 Loch Lomond Drive, San Rafael, California',
 '100 Red Hill Ave, San Anselmo, California',
 '342 1st St, Los Altos, California',
 '500 Grove Street, San Francisco, California',
 '4751 Geary Blvd., San Francisco, California',
 '546 E Cotati Ave, Cotati, California']

Save stores to csv to edit manually

In [350]:
pd.DataFrame(stores_list).to_csv('../data/store_coords.csv', index=False)

Read in completed store coords file

In [396]:
store_coords = pd.read_csv('../data/store_coords_final.csv')
store_coords.head()

,Store,Address,City,State,Full Address,lat,lon
0,Berkeley Bowl,2020 Oregon St,Berkeley,California,"2020 Oregon St, Berkeley, California",37.857113,-122.267250
1,Berkeley Bowl West,920 Heinz Avenue,Berkeley,California,"920 Heinz Avenue, Berkeley, California",37.853534,-122.290376
2,Diablo Foods-Lafeyette,3615 Mt Diablo Blvd,Lafayette,California,"3615 Mt Diablo Blvd, Lafayette, California",37.890698,-122.124482
3,Draeger's-Danville,291 Utah Ave.,South San Francisco,California,"291 Utah Ave., South San Francisco, California",37.647738,-122.394870
4,Encinal Market,3211 Encinal Ave.,Alameda,California,"3211 Encinal Ave., Alameda, California",37.756290,-122.233672

In [397]:
store_coords.isna().sum()

Store           0
Address         0
City            0
State           0
Full Address    0
lat             0
lon             0
dtype: int64

## Products

In [398]:
products.head()

,territory,sold_to_name,item_description,item_type,quantity,price,date
0,EB,Monterey Foods Market,Have'a Corn Chips,Chips,48.0,76.80,2017-01-01
1,SF,Madera Liquor,Have'a Corn Chips,Chips,12.0,19.20,2017-01-01
2,MR,Mollie Stone #1-Sausalito,Casa Linda Enchilada Sauce,Sauce,12.0,42.12,2017-01-01
3,SF,Fulton & Brodrick,Loacker Kakao Cookies,Cookie,4.0,14.28,2017-01-01
4,MR,Mollie Stone #1-Sausalito,Andy's Rub - 7 oz,Spice,12.0,64.92,2017-01-01

Fixing store names

In [399]:
products['sold_to_name'] = products['sold_to_name'].str.replace('Harvest Urban Market-8th St.', 'Harvest Urban Mkt-8th St.')
products['sold_to_name'] = products['sold_to_name'].str.replace('Zanottos Family Mkt - Naglee', 'Zanottos - Naglee')
products['sold_to_name'] = products['sold_to_name'].str.replace("Guigni's Deli", "Giugni's Grocery")

C:\Users\ncox0\AppData\Local\Temp/ipykernel_3044/2583582292.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  products['sold_to_name'] = products['sold_to_name'].str.replace('Harvest Urban Market-8th St.', 'Harvest Urban Mkt-8th St.')

Merging products and store addresses

In [400]:
df_products = pd.merge(
    products, 
    store_coords, 
    left_on='sold_to_name',
    right_on='Store',
    how='left'
)

df_products.head()

,territory,sold_to_name,item_description,item_type,quantity,price,date,Store,Address,City,State,Full Address,lat,lon
0,EB,Monterey Foods Market,Have'a Corn Chips,Chips,48.0,76.80,2017-01-01,Monterey Foods Market,1550 Hopkins Street,Berkeley,California,"1550 Hopkins Street, Berkeley, California",37.881133,-122.282269
1,SF,Madera Liquor,Have'a Corn Chips,Chips,12.0,19.20,2017-01-01,Madera Liquor,4401 Geary Blvd.,San Francisco,California,"4401 Geary Blvd., San Francisco, California",37.780738,-122.466572
2,MR,Mollie Stone #1-Sausalito,Casa Linda Enchilada Sauce,Sauce,12.0,42.12,2017-01-01,Mollie Stone #1-Sausalito,100 Harbor Dr.,Sausalito,California,"100 Harbor Dr., Sausalito, California",37.866654,-122.499525
3,SF,Fulton & Brodrick,Loacker Kakao Cookies,Cookie,4.0,14.28,2017-01-01,Fulton & Brodrick,667 Broderick St.,San Francisco,California,"667 Broderick St., San Francisco, California",37.776500,-122.440101
4,MR,Mollie Stone #1-Sausalito,Andy's Rub - 7 oz,Spice,12.0,64.92,2017-01-01,Mollie Stone #1-Sausalito,100 Harbor Dr.,Sausalito,California,"100 Harbor Dr., Sausalito, California",37.866654,-122.499525

In [401]:
df_products.drop_duplicates(inplace=True)

In [402]:
len(products), len(df_products)

(255305, 255381)

In [403]:
df_products.isna().sum()

territory           0
sold_to_name        0
item_description    0
item_type           0
quantity            0
price               0
date                0
Store               0
Address             0
City                0
State               0
Full Address        0
lat                 0
lon                 0
dtype: int64

In [404]:
df_products.to_csv('../data/products_locations.csv', index=False)

## Profits

In [405]:
profits.head()

,sold_to_name,product_line,quantity,gross_profit,territory,date
0,Farmer Joe's - Fruitvale Ave.,DCD,1941.0,2006.37,EB,2017-01-01
1,"Seven Eleven-Redwood Hwy,M.V.",DCD,120.0,37.92,MR,2017-01-01
2,Nugget - #15 Corte Madera,DCD,144.0,32.85,MR,2017-01-01
3,Nugget - #15 Corte Madera,DCD,57.0,45.41,MR,2017-01-01
4,Nugget - #16 Novato,DCD,165.0,53.76,MR,2017-01-01

In [406]:
profits['sold_to_name'] = profits['sold_to_name'].str.replace('Harvest Urban Market-8th St.', 'Harvest Urban Mkt-8th St.')
profits['sold_to_name'] = profits['sold_to_name'].str.replace('Zanottos Family Mkt - Naglee', 'Zanottos - Naglee')
profits['sold_to_name'] = profits['sold_to_name'].str.replace("Guigni's Deli", "Giugni's Grocery")

profits['sold_to_name'] = profits['sold_to_name'].str.replace('Safeway #2718-Mill Valley', 'Safeway #2718-Strawberry')
profits['sold_to_name'] = profits['sold_to_name'].str.replace('Safeway #2781-Mill Valley', 'Safeway #2718-Strawberry')

profits['sold_to_name'] = profits['sold_to_name'].str.replace('Safeway #979 Novato', 'Safeway #979-Diablo Ave,Nov.')

C:\Users\ncox0\AppData\Local\Temp/ipykernel_3044/116638897.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  profits['sold_to_name'] = profits['sold_to_name'].str.replace('Harvest Urban Market-8th St.', 'Harvest Urban Mkt-8th St.')

In [407]:
profits['sold_to_name'] = profits['sold_to_name'].str.replace('76 Stn - Ignacio', 'Ignacio Gas/76 Stn')
profits['sold_to_name'] = profits['sold_to_name'].str.replace('Circle K - 76 Stn (Ignacio)', 'Ignacio Gas/76 Stn', regex=False)
profits['sold_to_name'] = profits['sold_to_name'].str.replace('Bartletts General Store', 'Bartletts Market')
profits['sold_to_name'] = profits['sold_to_name'].str.replace('Berk Bowl E - Asian Dept', 'Berkeley Bowl')
profits['sold_to_name'] = profits['sold_to_name'].str.replace('Berk Bowl W - Asian Dept', 'Berkeley Bowl West')
profits['sold_to_name'] = profits['sold_to_name'].str.replace("Jules Thin Crust Oakland", "Jules Thin Crust-Oakland")
profits['sold_to_name'] = profits['sold_to_name'].str.replace("Oliver's-Windsor", "Oliver's- Windsor")
profits['sold_to_name'] = profits['sold_to_name'].str.replace("Perry's-Inverness", "Inverness Park Market")
profits['sold_to_name'] = profits['sold_to_name'].str.replace("Safeway #2456-NEW Petaluma", "Safeway #2456-Son Mtn Pkwy")
profits['sold_to_name'] = profits['sold_to_name'].str.replace("Safeway #2457-NEW SR College", "Safeway #2457-W. College Ave")
profits['sold_to_name'] = profits['sold_to_name'].str.replace("Safeway #2457-W. College Ave.", "Safeway #2457-W. College Ave", regex=False)
profits['sold_to_name'] = profits['sold_to_name'].str.replace("Safeway #2828-Novato", "Safeway #2828-Ignacio")
profits['sold_to_name'] = profits['sold_to_name'].str.replace("Safeway#3011-Petaluma", "Safeway#3011-S. McDowell")
profits['sold_to_name'] = profits['sold_to_name'].str.replace("Target-Sausalito", "Target-Marin City")
profits['sold_to_name'] = profits['sold_to_name'].str.replace("United Liquors-Larkspur", "United Liq/Gather Wine-Lrkspr")
profits['sold_to_name'] = profits['sold_to_name'].str.replace("Walia's Valero", "Walia's Fuel")
profits['sold_to_name'] = profits['sold_to_name'].str.replace("Mollie Stone-San Francisco", "Mollie Stone #8-Tower Mkt.")

In [408]:
profits['sold_to_name'] = profits['sold_to_name'].map(lambda x: re.sub("Ernie's\Z", "Ernie's Tin Bar", x))

In [409]:
stores_to_drop = [
    "Craig Robinson",
    "Club Costa Vida/WFSH",
    "Bill's Liquor",
    "Dan's Market",
    "First Community Bank",
    "Haight & Victoria",
    "Kim's Baskets",
    "Oliver's Market Business Offic",
    "Oliver's Warehouse",
    "Rialto Cinemas Elmwood",
    "Wine & Food Spoken Here",
    "Wine & Foods Spoken Here",
]

In [410]:
profits = profits[profits['sold_to_name'].isin(stores_to_drop) == False]

In [411]:
df_profits = pd.merge(
    profits, 
    store_coords, 
    left_on='sold_to_name',
    right_on='Store',
    how='left'
)

df_profits.head()

,sold_to_name,product_line,quantity,gross_profit,territory,date,Store,Address,City,State,Full Address,lat,lon
0,Farmer Joe's - Fruitvale Ave.,DCD,1941.0,2006.37,EB,2017-01-01,Farmer Joe's - Fruitvale Ave.,3420 Fruitvale Ave.,Oakland,California,"3420 Fruitvale Ave., Oakland, California",37.799477,-122.216227
1,"Seven Eleven-Redwood Hwy,M.V.",DCD,120.0,37.92,MR,2017-01-01,"Seven Eleven-Redwood Hwy,M.V.",650 Redwood Hwy.,Mill Valley,California,"650 Redwood Hwy., Mill Valley, California",37.891146,-122.516022
2,Nugget - #15 Corte Madera,DCD,144.0,32.85,MR,2017-01-01,Nugget - #15 Corte Madera,5627 Paradise Drive,Corte Madera,California,"5627 Paradise Drive, Corte Madera, California",37.919095,-122.507826
3,Nugget - #15 Corte Madera,DCD,57.0,45.41,MR,2017-01-01,Nugget - #15 Corte Madera,5627 Paradise Drive,Corte Madera,California,"5627 Paradise Drive, Corte Madera, California",37.919095,-122.507826
4,Nugget - #16 Novato,DCD,165.0,53.76,MR,2017-01-01,Nugget - #16 Novato,470 Ignacio Blvd.,Novato,California,"470 Ignacio Blvd., Novato, California",38.067484,-122.542898

In [412]:
df_profits.drop_duplicates(inplace=True)

In [413]:
len(profits), len(df_profits)

(27521, 27527)

In [414]:
df_profits.isna().sum()

sold_to_name    0
product_line    0
quantity        0
gross_profit    0
territory       0
date            0
Store           0
Address         0
City            0
State           0
Full Address    0
lat             0
lon             0
dtype: int64

In [416]:
df_profits.to_csv('../data/profits_locations.csv', index=False)